.calendar-cell {
    min-width: 45px;
    text-align: center;
}

.calendar-cell-corner {
    border-color: white;
}

.calendar-cell-header {
    background-color: powderblue;
}

.calendar-cell-active:hover {
    background-color: lightgreen;
}

.calendar-cell-inactive {
    background-color: lightgrey;
}

.calendar-cell-selected {
    background-color: lightseagreen;
}

.calendar-cell-hour {
    min-width: 54px;
}