@model WebApplication.ViewModels.Courses.CourseDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_DetailsBody", Model)
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>